<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hello Coap!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/plugins/bootstrapv3/css/bootstrap.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/plugins/font-awesome/css/font-awesome.css") %>">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/webarch.css") %>">
</head>

<body>
    <div class="header navbar navbar-inverse ">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="navbar-inner">
            <div class="header-seperation">
                <ul class="nav pull-left notifcation-center visible-xs visible-sm">
                    <li class="dropdown">
                        <a href="#main-menu" data-webarch="toggle-left-side">
                            <i class="material-icons">menu</i>
                        </a>
                    </li>
                </ul>
                <!-- BEGIN LOGO -->
                <a href="index.html">
                    <img src="assets/img/logo.png" class="logo" alt="" data-src="assets/img/logo.png" data-src-retina="assets/img/logo2x.png" width="106" height="21" />
                </a>
                <!-- END LOGO -->
                <ul class="nav pull-right notifcation-center">
                    <li class="dropdown hidden-xs hidden-sm">
                        <a href="/" class="dropdown-toggle active" data-toggle="">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li class="dropdown visible-xs visible-sm">
                        <a href="#" data-webarch="toggle-right-side">
                            <i class="material-icons">chat</i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <div class="header-quick-nav">
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="pull-left">
                    <ul class="nav quick-section">
                        <li class="quicklinks">
                            <a href="#" class="" id="layout-condensed-toggle">
                                <i class="material-icons">menu</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <div class="page-container row-fluid">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar " id="main-menu">
            <!-- BEGIN MINI-PROFILE -->
            <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
                <!-- BEGIN SIDEBAR MENU -->
                <ul>
                    <li>
                      <a href="/observer">Observer</a>
                    </li>
                    <li>
                      <a href="/log">Log</a>
                    </li>
                    <li>
                      <a href="/buffer">Buffer</a>
                    </li>
                    <li>
                      <a href="/nodes">Nodes</a>
                    </li>
                    <li>
                      <a href="/resource">Resources</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE CONTAINER-->
        <div class="page-content">
            <div class="content">
                <main role="main">
                    <%= render @view_module, @view_template, assigns %>
                </main>
            </div>
        </div>
    </div>
    <!-- /container -->
    <script src="<%= static_path(@conn, "/app.js") %>"></script>
</body>

</html>
